<div class="page" id="bind" data-pageTitle="佣金宝-绑定">
	<div class="from-box p20-25">
        <div class="form-item mb15 item-icon01">
            <input type="text" class="item-input" placeholder="资金账号" id="username1" maxlength="10" pattern="\d*" style="display: none;" />
            <input type="number" class="item-input" placeholder="资金账号" id="username2" maxlength="10" pattern="\d*" style="display: none;" />
            <input type="hidden" id="username" />
        </div>
        <div class="form-item mb15 item-icon02">
            <input type="password" class="item-input" placeholder="交易密码" id="password" maxlength="6" />
        </div>
        <div class="form-item item-icon03">
            <input type="text" class="item-input" placeholder="验证码" id="checkcode1" maxlength="4" pattern="\d*" style="display: none;" />
            <input type="number" class="item-input" placeholder="验证码" id="checkcode2" maxlength="4" pattern="\d*" style="display: none;" />
            <input type="hidden" id="checkcode" />
            <span class="item-verif">
                <img src="" data-serverImg="true" id="checkcodeImg" style="cursor: pointer;" />
            </span>
        </div>
    </div>
    <a href="javascript:void(0);" class="blue-next-btn m0-25" id="nextBtn">马上绑定</a>
    <p class="next-p">尚未开通佣金宝账户？ <a href="http://www.yongjinbao.com.cn/mobile/" target="_blank" class="p-open-btn">立即开户</a></p>
</div>

