<div class="page" id="login" data-pageTitle="佣金宝-登录">
		<div class="from-box p20-25">
			<div class="form-item mb15">
				<span class="item-icon icon-bg01"></span>
				<input type="text" class="item-input" id="username" placeholder="资金账号" maxlength="10" />
			</div>
			<div class="form-item mb15">
				<span class="item-icon icon-bg02"></span>
				<input type="password" class="item-input" id="password" placeholder="交易密码" maxlength="6" />
			</div>
			<div class="form-item">
				<span class="item-icon icon-bg03"></span>
				<input type="text" class="item-input" placeholder="验证码" id="checkcode" maxlength="4" />
				<span class="item-verif">
					<img src="" data-serverImg="true" id="checkcodeImg" style="cursor: pointer;" />
				</span>
			</div>
		</div>
		<a href="javascript:void(0);" class="next-btn bg-blue m0-25">马上登录</a>
		<p class="next-p mt10">
			尚未开通佣金宝账户？ <a href="http://www.yongjinbao.com.cn/mobile/" target="_blank" class="p-open-btn">立即开户</a>
		</p>
</div>