
<!--<div class="header">-->
    <!--<div class="header-back"></div>提醒设置-->
<!--</div>-->

<div class="page" id="yjb_yjb_i_remind_set" style="height: 100%;">
    <ul class="subscribe-list border-top" id="menu_1" style="background-color: #F1F1F1;">
        <li id="li0" message_no="MSG_0001" subscribe_source="0" subscribe_channel="1">
            <span class="li-text">股价提醒</span>
            <i class="li-switch off"><a href="javascript:void(0);" class="switch-a"></a></i>
        </li>
        <li id="li1" message_no="MSG_0001" subscribe_source="0" subscribe_channel="1">
            <span class="li-text">成交回报提示</span>
            <i class="li-switch off"><a href="javascript:void(0);" class="switch-a"></a></i>
        </li>
        <li id="li2" message_no="MSG_0002" subscribe_source="0" subscribe_channel="1">
            <span class="li-text">银证转账提醒</span>
            <i class="li-switch on"><a href="javascript:void(0);" class="switch-a"></a></i>
        </li>
        <li id="li3" message_no="MSG_0003" subscribe_source="0" subscribe_channel="1">
            <span class="li-text">持仓个股重要信息提醒</span>
            <i class="li-switch off"><a href="javascript:void(0);" class="switch-a"></a></i>
        </li>
    </ul>
</div>

<!--<div class="footer">-->
    <!--<a href="#" class="footer-item1 item"></a>-->
    <!--<a href="#" class="footer-item2 item"></a>-->
    <!--<a href="#" class="footer-item3 item"></a>-->
    <!--<a href="#" class="footer-item4 item actived"></a>-->
    <!--<div class="tradePassword"></div>-->
<!--</div>-->
<!--<script type="text/javascript" src="../../scripts_yjb/jquery1.11.1.min.js"></script>-->
<!--<script type="text/javascript" src="../../scripts_yjb/common/General.js"></script>-->
<!--<script type="text/javascript" src="../../scripts_yjb/common/Select.js"></script>-->
<!--<script>-->
    <!--$(function(){-->
        <!--YJB.General.initialize();-->
        <!--YJB.Select.bindClick();-->
    <!--});-->
<!--</script>-->

