<div class="page" id="yjb_yjb_i_jtt_commonProblem" style="height: 100%;">
    <div class="subscribe-box">
        <div class="subscribe-box-icon02 mt18">
            <div class="box-icon-shadow"></div>
        </div>
        <div class="subscribe-box-text02">
            <div class="box-text-shadow"></div>
            <div class="box-text-icon02"></div>
            尊敬的客户，以下是您关心的问题吗？
        </div>
    </div>
    <ul class="problem_list p10-20-0" id="problem_list">
        <li>
            <a href="javascript:void(0);">申购金腾通基金何时开始享受收益？</a>
            <p>当日成功申购，下一个工作日确认并开始享受收益。若您是周一申购，则从周二开始享受收益；若是周五申购的，则从下周一开始享受收益。</p>
        </li>
        <li>
            <a href="javascript:void(0);">申购金腾通货币基金是否有申购费用？</a>
            <p>金腾通货币基金没有申购和赎回费用。</p>
        </li>
        <li>
            <a href="javascript:void(0);">金腾通基金收益何时结转？</a>
            <p>金腾通货币基金的收益是按天计提，按天结转，即周一申购，周二确认，周三可以查询到周二的收益情况。</p>
        </li>
        <li>
            <a href="javascript:void(0);">金腾通基金周末的收益如何查询？</a>
            <p>金腾通货币基金周末及法定节假日都有收益，一般情况下，金腾通货币基金周五结转的收益已经包含周五、周六及周日三天的收益。</p>
        </li>
        <li>
            <a href="javascript:void(0);">金腾通货币基金赎回到账时间？</a>
            <p>若今日成功赎回，基金管理人将于第2天（工作日）将赎回款划至销售机构，销售机构收到款项后划至投资人账户中，通常到账时间是第2天（工作日）或第3天（工作日）。</p>
        </li>

        <li style="display: none;">
            <a href="javascript:void(0);">金腾通货币基金赎回当天是否还有收益？</a>
            <p>当日提交赎回申请，当日仍然享有收益，从第二个工作日开始不享受收益。例如：周五投资者成功提交金腾通货币基金的赎回，那么周六、周日两天的收益都是可以享受到的，从下周一（含）开始不享受收益。</p>
        </li>
        <li style="display: none;">
            <a href="javascript:void(0);">金腾通货币基金是否是保本基金？</a>
            <p>不是保本型基金，是货币市场基金。货币市场基金的特征是低风险、高流动性、收益稳定。</p>
        </li>
        <li style="display: none;">
            <a href="javascript:void(0);">如何申购金腾通货币基金？</a>
            <p>目前，金腾通货币基金只有国金证券一家代销机构。作为向佣金宝提供保证金余额理财服务的工具，投资者在佣金宝开户同时即可开通基金账户，通过此账号参与“金腾通货币基金”的自动申赎等。</p>
        </li>
    </ul>
    <a href="javascript:void(0);" class="btn_more" id="more_problem"></a>
</div>

