
<div class="page all_success" id="yjb_yjb_i_jtt_unbind_success" style="height: 100%;">


    <div class="left"  id="left" style="display: none;">
        <div id="t1"><img class="img_t" id="t1111" src="/me/project/images/tt2.png"></div>
        <div id="t2_1"><img class="img_t" id="t2222" src="/me/project/images/tt3.png"></div>
        <div id="t2_2"><img class="img_t"id="t3333"  src="/me/project/images/tt4.png"></div>
        <div id="t3"><img class="img_t" id="t4444" src="/me/project/images/tt5.png"></div>
        <div id="t4"><img class="img_t" id="t5555" src="/me/project/images/tt6.png"></div>
        <img class="img_success" src="/me/project/images/left.png">
    </div>

    <div class="right" id="right" style="display: none;">
        <span id="item-span" style="color: #2a8ee3;">
        <!--<div style="color: #2a8ee3">-->
        <span class="date_font"><span id="month_1"></span>
        </span><span class="date_font2">月
        </span><span class="date_font"><span id="day_1"></span>
        </span><span class="date_font2">日
        </span>

        <br>

        <span class="type_font">提交金腾通账户开通申请</span></span>


        <span id="item-span-1">

        <span class="date_font_1"><span id="month_2"></span>
        </span><span class="date_font2_1">月
        </span><span class="date_font_1"><span id="day_2"></span>
        </span><span class="date_font2_1">日
        </span><br>
           <div id="change_text_1"> <span class="type_font_1">确认金腾通账户开通状态</span></div></span>

        <span id="item-span-2x"><span class="date_font_1"><span id="month_3"></span>
        </span><span class="date_font2_1">月
        </span><span class="date_font_1"><span id="day_3"></span>
        </span><span class="date_font2_1">日
        </span><br>
            <div id="change_text_2"><span class="type_font_1">可转入资金</span></div></span>



        <span id="item-span-2y">

            <span class="date_font_1"><span id="month_4"></span>
        </span><span class="date_font2_1">月
        </span><span class="date_font_1"><span id="day_4"></span>
        </span><span class="date_font2_1">日
        </span>
            <!--<span class="type_font_1">16:00</span>-->

            <br>
            <div id="change_text_3"><span class="type_font_1">自动申购金腾通货币基金
                <br/>申购金额=账户余额-保留金额</span></div></span>

        <span id="item-span-3"><span class="date_font_1"><span id="month_5"></span>
        </span><span class="date_font2_1">月
        </span><span class="date_font_1"><span id="day_5"></span>
        </span><span class="date_font2_1">日
        </span><br>
            <span class="type_font_1">开始计算收益</span></span>

        <span id="item-span-4">

            <span class="date_font_1"><span id="month_6"></span>
        </span><span class="date_font2_1">月
        </span><span class="date_font_1"><span id="day_6"></span>
        </span><span class="date_font2_1">日
        </span><br>
           <span class="type_font_1"> 收益到账</span></span>
    </div>




    <div class="down_1"><img class="img_down_1" src="/me/project/images/down_1.png"></div>
    <div class="down_2"><img class="img_down_2" src="/me/project/images/down_2.png"></div>

    </div>
</div>
