<div class="page" id="yjb_yjb_i_jtt_unbind"  style="height: 100%;">



    <div id="fade" class="black_overlay">
    </div>

    <div class="go_close">
        <img id="close" height="13" width="13" src="/me/project/images/close.png"/>
    </div>
    <div id="MyDiv" class="white_content">

        <div id="deal_text" style="padding: 20px">
        <!--<div class="title_text">金腾通货币基金相关协议</div>-->
        <!--<div class="main_text">一、基金份额的申购与赎回<br/>-->
            <!--（一）申购和赎回场所<br/>-->

            <!--本基金的申购与赎回将通过销售机构进行。具体的销售网点将由基金管理人在基金份额发售公告中列明。基金管理人可根据情况变更或增减销售机构，并予以公告。基金投资者应当在销售机构办理基金销售业务的营业场所或按销售机构提供的其他方式办理基金份额的申购与赎回。-->
            <!--<br/>-->

            <!--（二）申购和赎回的开放日及时间-->
            <!--<br/>-->

            <!--1、开放日及开放时间-->
            <!--<br/>-->

            <!--投资者在开放日办理基金份额的申购和赎回，具体办理时间为上海证券交易所、深圳证券交易所的正常交易日的交易时间，但基金管理人根据法律法规、中国证监会的要求或基金合同的规定公告暂停申购、赎回时除外。-->
            <!--<br/>-->

            <!--基金合同生效后，若出现新的证券交易市场、证券交易所交易时间变更或其他特殊情况，基金管理人将视情况对前述开放日及开放时间进行相应的调整，但应在实施日前依照《信息披露办法》的有关规定在指定媒体上公告。-->
            <!--<br/>-->

            <!--2、申购、赎回开始日及业务办理时间-->
            <!--<br/>-->

            <!--基金管理人自基金合同生效之日起不超过3个月开始办理申购，具体业务办理时间在申购开始公告中规定。-->
            <!--<br/>-->

            <!--基金管理人自基金合同生效之日起不超过3个月开始办理赎回，具体业务办理时间在赎回开始公告中规定。-->
            <!--<br/>-->

            <!--在确定申购开始与赎回开始时间后，基金管理人应在申购、赎回开放日前依照《信息披露办法》的有关规定在指定媒体上公告申购与赎回的开始时间。-->
            <!--<br/>-->

            <!--基金管理人不得在基金合同约定之外的日期或者时间办理基金份额的申购、赎回或者转换。投资者在基金合同约定之外的日期和时间提出申购、赎回或转换申请且登记机构确认接受的，视为下一开放日的申购、赎回或转换申请。-->
            <!--<br/>-->

            <!--3、申购与赎回的原则-->
            <!--<br/>-->
            <!--</div>-->
    </div>
    </div>


    <div class="mod-banner-jin">
        <div class="jin-bantxt">
            <p class="tit">闲置资金理财</p>
            <p>金腾通货币基金</p>
            <p id="date">2014-05-15</p>
        </div>
        <span class="sybs-span">20</span>
        <div class="jin-bandata fl">
            <div class="data tll" id="income">2.3785</div>
            <p class="fs12">万份收益</p>
        </div>
        <div class="jin-bandata fr">
            <div class="data" id="seven_income">7.09%</div>
            <p class="fs12 tlr">7日年化收益率</p>
        </div>
    </div>
    <div class="mod-content" >


        <div class="text-info-box mb15">
            <div class="info-item bg01">
                <p class="fs12">佣金宝账户内<br />闲置现金自动申购</p>
            </div>
            <div class="info-item bg02">
                <p class="fs12">无需赎回<br />可直接用于股票交易</p>
            </div>
        </div>


        <div id="content_success">
        <div class="checkWrapper" >
            <div class="checkWrapper-check checked" id="is_agree"></div>
            <div class="checkWrapper-text">我已阅读并同意<a href="#" class="checkWrapper-text-blue" id="dealManagement">《金腾通货币基金相关协议》</a></div>
        </div>
        <a href="#" class="oran-next-btn m0-10" id="jinteng_account" style="background-color:#d5d5d5;">马上开通金腾通</a>
        <p class="next-p">尚未开通佣金宝账户？ <a href="#" class="p-open-btn" id="account">立即开户</a></p>
        </div>
        <!--<div id="content_fail" style="display: none;border: 2px;padding: 20px;line-height: 25px;font-size: 15px ;color: #2a8ee3;" >-->

            <!--亲， 您的金疼痛货币基金预计将于6月30日开始计算收益，宝宝与您一起期待哦！-->

        <!--</div>-->
    </div>

    </div>

</div>


<!--<div class="footer">-->
    <!--<a href="#" class="footer-item1 item"></a>-->
    <!--<a href="#" class="footer-item2 item"></a>-->
    <!--<a href="#" class="footer-item3 item"></a>-->
    <!--<a href="#" class="footer-item4 item actived"></a>-->
    <!--<div class="tradePassword"></div>-->
<!--</div>-->
<!--<script type="text/javascript" src="../../scripts_yjb/jquery1.11.1.min.js"></script>-->
<!--<script type="text/javascript" src="../../scripts_yjb/common/General.js"></script>-->
<!--<script type="text/javascript" src="../../scripts_yjb/common/Select.js"></script>-->
<!--<script>-->
    <!--$(function(){-->
        <!--YJB.General.initialize();-->
        <!--YJB.Select.bindProtocolClick();-->
    <!--});-->
<!--</script>-->
