<!--<div class="header bb"><div class="header-menu"></div>我</div>-->
<!--<div class="header bb">-->
    <!--我-->
<!--</div>-->
<div class="header bb">
    我
</div>
<div class="page" id="mine_iUnBind" style="height: 100%;">
    <div class="mod-bannerWrapper">
        <div class="mod-banner">
            <a hrf="#" class="btn-bind">马上登录</a>
        </div>
    </div>
    <div class="mod-content">
        <ul class="btn-list beforeLogin">
            <li><a hrf="#" class="a1" id="cashManagement"><span class="a1_before before"></span>我的现金理财<span class="a1_after after"></span></a></li>
            <li><a hrf="#" class="a2" id="myAcount"><span class="a2_before before"></span>我的账户<span class="a2_after after"></span></a></li>
            <li><a hrf="#" class="a3" id="myRemind"><span class="a3_before before"></span>我的提醒<span class="a3_after after"></span></a></li>
        </ul>
    </div>
</div>
<!--<div class="footer">-->
    <!--<a href="#" class="footer-item1 item"></a>-->
    <!--<a href="#" class="footer-item2 item"></a>-->
    <!--<a href="#" class="footer-item3 item"></a>-->
    <!--<a href="#" class="footer-item4 item actived"></a>-->
<!--</div>-->

