<div class="page" id="cash_cashhasopened" data-pageTitle="我的金腾通" style="height: 100%;">
		<div class="mod-scale h150">
			<p class="scale-p1">
				昨日收益（元）
				<!-- <span class="fr scale-p1-span" id="next_settle_date"></span> -->
				<span class="fr scale-p1-icon" id="commonquestion"></span>
			</p>
			<p class="scale-p2 mt50" id="daily_return"></p>
		</div>
		<div class="income-box">
			<div class="income-item">
				<span class="item-span" id="apply_amount_span">
					<p class="item-span-p1">昨日参与金额</p>
					<p class="item-span-p2" id="apply_amount"></p>
				</span>
				<span class="item-span bor-left" id="total_return_span">
					<p class="item-span-p1">累计收益</p>
					<p class="item-span-p2" id="total_return"></p>
				</span>
			</div>
			<div class="income-item">
				<span class="item-span" id="daily_profit_span">
					<p class="item-span-p1">每万元收益</p>
					<p class="item-span-p2" id="daily_profit"></p>
				</span>
				<span class="item-span bor-left" id="latestweekly_yield_span">
					<p class="item-span-p1">最近7日年化收益率</p>
					<p class="item-span-p2" id="latestweekly_yield"></p>
				</span>
			</div>
		</div>
		<div class="phone-btn-box m20">
			<a href="javascript:void(0);" class="out" id="rechargeBtn">我要充值</a>
			<a href="javascript:void(0);" class="buy" id="takenbackBtn">我要取现</a>
		</div>
		<div class="income-bot-btnbox">
			 <a href="javascript:void(0);" class="notes-btn" id="rechargeHistoryBtn">充值记录</a>
			 <a href="javascript:void(0);" class="understand-btn" id="autorechargeBtn">购买设置</a> 
			<a href="javascript:void(0);" class="understand-btn" id="takenbackHistoryBtn">取款记录</a> 
		<!--  	<a href="javascript:void(0);" class="understand-btn" id="takenbackHistoryBtn" style="text-align: right;border-left: 0px;">
			取款记录</a> -->
			
		</div>
</div>