<div class="page" id="cash_dailyprofit" data-pageTitle="每万份收益" style="height: 100%;">

	<div class="mod-scale">
		<p class="scale-p1" id="trade_date_show">每万元收益（元）
		</p>
		<p class="scale-p2"><span id="dailyprofit"></span><em class="p2-em"></em></p>
	</div>
	<div id="v_container_dailyprofit">
	   	<div class="visc_wrapper" id="v_wrapper_dailyprofit" data-iscrollPageId="cash_dailyprofit">
			<div class="visc_scroller">
				<div class="visc_pullDown" style="display:none;">
					<span class="visc_pullDownIcon"></span>
					<div class="visc_pullDownDiv">
						<span class="visc_pullDownLabel">下拉加载上一页</span><br/>
						时间更新于：<span class="visc_pullDownTime"></span>
					</div>
				</div>
				<div class="income-list">
					<ul id="dailyprofit_ul">
					</ul>
				</div>
				<div class="visc_pullUp" style="display:none;">
					<span class="visc_pullUpIcon"></span>
					<div class="visc_pullUpDiv">
						<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
						时间更新于：<span class="visc_pullUpTime"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>