<div class="page" id="cash_latestweeklyyield" data-pageTitle="7日年化收益率" style="height: 100%;">
    <div class="mod-scale">
        <p class="scale-p1">最近7日年化收益率</p>
        <p class="scale-p2" id="latestweeklyyield_p"></p>
    </div>
    <div class="mod-sever-table" id="canvasDiv">
    <!--
        <img src="images/sever-table.jpg" width="100%" />
     -->
    </div>
    <div class="mod-sever-list" id="latestweeklyyield_div">
        <ul>
            <li class="sever-list-item">  <!-- 添加class=on 展开-->
                <h2>风险提示<i></i></h2>
                <p style="text-indent:2em;">证券投资基金(以下简称“基金”)是一种长期投资工具，其主要功能是分散投资，降低投资单一证券所带来的个别风险。基金不同于银行储蓄和债券等能够提供固定收益预期的金融工具，投资人购买基金，既可能按其持有份额分享基金投资所产生的收益，也可能承担基金投资所带来的损失。
                </p>
                <p style="text-indent:2em;border-top:none;padding:0;">投资人应当认真阅读《基金合同》、《招募说明书》等基金法律文件，了解基金的风险收益特征，并根据自身的投资目的、投资期限、投资经验、资产状况等判断基金是否和投资人的风险承受能力相适应。
                </p>
            </li>
            <li class="sever-list-item">
                <h2>详细介绍<i></i></h2>
                <p style="text-indent:2em;">金腾通是国金通用推出的货币市场证券投资基金（基金代码000540），具有收益稳定、风险低的特点，也是佣金宝客户账户内闲置现金的理财工具。
                </p>
                <p style="text-indent:2em;border-top:none;padding:0;">每日收盘后，佣金宝客户账户内闲置的现金中高于“触发金额”的部分，将自动申购金腾通基金，让闲钱也能生钱，获得可能超过银行活期存款利息多倍的收益。
                </p>
            </li>
            <li class="sever-list-item">
                <h2>赎回规则<i></i></h2>
                <p style="text-indent:2em;">
                当日成功提交赎回申请，当日仍享有收益，从第2天（工作日）开始不享受收益。例如：周五投资者成功提交金腾通货币基金的赎回，那么周六、周日两天的收益都是可以享受到的，从下周一（含）开始不享受收益。
                </p>
                <p style="text-indent:2em;border-top:none;padding:0;">
                若当日赎回，我司将于第2天（工作日）将赎回款划至销售机构，销售机构收到款项后划至投资人账户中，通常到账时间是第2天（工作日）或者第3天（工作日）。
                </p>
            </li>
        </ul>
    </div>
</div>