<div class="page" id="cash_rechargehistory" data-pageTitle="充值记录" style="height: 100%;">
    <div class="mod-scale">
        <p class="scale-p1">
            累计充值(元)
        </p>
        <p class="scale-p3"><span id="rechargehistoryall"></span><em class="p2-em"></em></p>
    </div>

    <div id="v_container_rechargehistory">
        <div class="visc_wrapper" id="v_wrapper_rechargehistory" data-iscrollPageId="cash_rechargehistory">
            <div class="visc_scroller">
                <div class="visc_pullDown" style="display:none;">
                    <span class="visc_pullDownIcon"></span>
                    <div class="visc_pullDownDiv">
                        <span class="visc_pullDownLabel">下拉加载上一页</span><br/>
                        时间更新于：<span class="visc_pullDownTime"></span>
                    </div>
                </div>
                <div class="all-out-box">
                    <ul class="all-out-list" id="rechargehistory_ul">
                    </ul>
                </div>
                <div class="visc_pullUp" style="display:none;">
                    <span class="visc_pullUpIcon"></span>
                    <div class="visc_pullUpDiv">
                        <span class="visc_pullUpLabel">上拉加载下一页</span><br/>
                        时间更新于：<span class="visc_pullUpTime"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>