<div class="page" id="cash_rechargesuccess" data-pageTitle="充值成功" style="height: 100%;">
	<div class="cg_contbox">
        	<ul class="cg_contlist">
            	<li class="first spel_ic">
                	<span class="ic"></span>
                    <div>
                    	<h5 id="TradeDay"></h5>
                        <p>充值成功</p>
                    </div>
                </li>
            	<li class="cg_ic04">
                	<span class="ic"></span>
                    <div>
                    	<h5 id="TradeDay3"></h5>
                        <p>自动申购金腾通货币基金<br/>申购金额=账户余额-保留金额</p>
                    </div>
                </li>
                <li class="cg_ic05">
                	<span class="ic" ></span>
                    <div>
                    	<h5 id="TradeDay1"></h5>
                        <p>开始计算收益</p>
                    </div>
                </li>
                <li class="cg_ic06">
                	<span class="ic" ></span>
                    <div>
                    	<h5 id="TradeDay2"></h5>
                        <p>收益到账</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wc_botbox">
        	<div class="wc_wp01">
            	<div class="wc_wp02" id= "successBtn"><a class="wc_btn" href="#"><span>完 成</span></a></div>
            </div>
            <div class="wc_botbg"></div>
        </div>
</div>